upx.exe
XVM_Updater.exe
*.stat
*.obj
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.cfg
*Resource.rc
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
*.~*
abbrevia/source/*.dcu
